#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

h1{
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
  color: #203E14;
  margin-bottom: 10px;
}

h2{
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.1;
  margin: 0;
}

h3{
  margin: 5px;
}

