form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label{
    font-size: .9em;
    margin-left: 10px;
}
  
input{
    border-radius: 4px;
    cursor: default;
    border: 1px solid #555;
    display: block;
    width: 25%;
    margin: 10px;
}

#buy, #sell {
    display:inline-block;
    width: 50px;
}

h3{
 margin: 10px;
}

.feedbackMessage {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 50%;
}
  
.feedbackMessage.success {
    color: #d4edda;
}
  
.feedbackMessage.error {
    color: #f8d7da;
}
  