form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formRadio label{
    display: inline;
}
  
.formRadio input{
    display:inline-block;
    width: 5%;
}

.feedbackMessage {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 50%;
}
  
.feedbackMessage.success {
    color: #d4edda;
}
  
.feedbackMessage.error {
    color: #f8d7da;
}
  