#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main{
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 64px
}

h1{
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

h2{
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.1;
  margin: 0;
}

form{
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label{
  font-size: .8em;
}

input{
  border-radius: 4px;
  cursor: default;
  border: 1px solid #555;
  display: block;
  margin-bottom: 16px;
  width: 50%;
}
.formRadio label{
  display: inline;
}
.formRadio input{
  display:inline-block;
  width: 5%;
}